@model TopicViewModel
@* <img src=""></img> *@
<h4> @Model.Name</h4>

<form method="post" asp-action="deleteTopic" asp-route-id="@Model.Id">
    <input asp-for="Id" type="hidden">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="topic" asp-action="index">Cancel</a>
</form>
